table {
  //border-bottom: 1px solid #dedede;
  //border-left: 1px solid #dedede;
  border: 1px solid #dedede;
  border-top: none;

  td {
    margin: 5px;
    padding: 10px;

    &:first-child {
      width: 15%;
      font-weight: bold;
      color: gray;
    }

    &:last-child {
      color: gray;
    }
  }
}


